# Project exclude paths
/.gradle/
/Builders/Builders how it works/out/
/Builders/Builders how it works/out/production/classes/
/Builders/Builders how it works/out/test/classes/
/Builders/Builders implementation/out/
/Builders/Builders implementation/out/production/classes/
/Builders/Builders implementation/out/test/classes/
/Builders/Function literals with receiver/out/
/Builders/Function literals with receiver/out/production/classes/
/Builders/Function literals with receiver/out/test/classes/
/Builders/Html builders/out/
/Builders/Html builders/out/production/classes/
/Builders/Html builders/out/test/classes/
/Builders/String and map builders/out/
/Builders/String and map builders/out/production/classes/
/Builders/String and map builders/out/test/classes/
/Builders/The function apply/out/
/Builders/The function apply/out/production/classes/
/Builders/The function apply/out/test/classes/
/Classes/Data classes/out/
/Classes/Data classes/out/production/classes/
/Classes/Data classes/out/test/classes/
/Classes/Extension functions/out/
/Classes/Extension functions/out/production/classes/
/Classes/Extension functions/out/test/classes/
/Classes/Rename on import/out/
/Classes/Rename on import/out/production/classes/
/Classes/Rename on import/out/test/classes/
/Classes/Sealed classes/out/
/Classes/Sealed classes/out/production/classes/
/Classes/Sealed classes/out/test/classes/
/Classes/Smart casts/out/
/Classes/Smart casts/out/production/classes/
/Classes/Smart casts/out/test/classes/
/Collections/All Any and other predicates/out/
/Collections/All Any and other predicates/out/production/classes/
/Collections/All Any and other predicates/out/test/classes/
/Collections/Associate/out/
/Collections/Associate/out/production/classes/
/Collections/Associate/out/test/classes/
/Collections/Compound tasks/out/
/Collections/Compound tasks/out/production/classes/
/Collections/Compound tasks/out/test/classes/
/Collections/Filter map/out/
/Collections/Filter map/out/production/classes/
/Collections/Filter map/out/test/classes/
/Collections/FlatMap/out/
/Collections/FlatMap/out/production/classes/
/Collections/FlatMap/out/test/classes/
/Collections/Fold/out/
/Collections/Fold/out/production/classes/
/Collections/Fold/out/test/classes/
/Collections/Getting used to new style/out/
/Collections/Getting used to new style/out/production/classes/
/Collections/Getting used to new style/out/test/classes/
/Collections/GroupBy/out/
/Collections/GroupBy/out/production/classes/
/Collections/GroupBy/out/test/classes/
/Collections/Introduction/out/
/Collections/Introduction/out/production/classes/
/Collections/Introduction/out/test/classes/
/Collections/Max min/out/
/Collections/Max min/out/production/classes/
/Collections/Max min/out/test/classes/
/Collections/Partition/out/
/Collections/Partition/out/production/classes/
/Collections/Partition/out/test/classes/
/Collections/Sequences/out/
/Collections/Sequences/out/production/classes/
/Collections/Sequences/out/test/classes/
/Collections/Sort/out/
/Collections/Sort/out/production/classes/
/Collections/Sort/out/test/classes/
/Collections/Sum/out/
/Collections/Sum/out/production/classes/
/Collections/Sum/out/test/classes/
/Conventions/Comparison/out/
/Conventions/Comparison/out/production/classes/
/Conventions/Comparison/out/test/classes/
/Conventions/For loop/build/
/Conventions/For loop/out/
/Conventions/For loop/out/production/classes/
/Conventions/For loop/out/test/classes/
/Conventions/Invoke/out/
/Conventions/Invoke/out/production/classes/
/Conventions/Invoke/out/test/classes/
/Conventions/Operators overloading/out/
/Conventions/Operators overloading/out/production/classes/
/Conventions/Operators overloading/out/test/classes/
/Conventions/Ranges/out/
/Conventions/Ranges/out/production/classes/
/Conventions/Ranges/out/test/classes/
/Generics/Generic functions/out/
/Generics/Generic functions/out/production/classes/
/Generics/Generic functions/out/test/classes/
/Introduction/Default arguments/out/
/Introduction/Default arguments/out/production/classes/
/Introduction/Default arguments/out/test/classes/
/Introduction/Hello, world!/out/
/Introduction/Hello, world!/out/production/classes/
/Introduction/Hello, world!/out/test/classes/
/Introduction/Lambdas/out/
/Introduction/Lambdas/out/production/classes/
/Introduction/Lambdas/out/test/classes/
/Introduction/Named arguments/build/
/Introduction/Named arguments/out/
/Introduction/Named arguments/out/production/classes/
/Introduction/Named arguments/out/test/classes/
/Introduction/Nothing type/out/
/Introduction/Nothing type/out/production/classes/
/Introduction/Nothing type/out/test/classes/
/Introduction/Nullable types/out/
/Introduction/Nullable types/out/production/classes/
/Introduction/Nullable types/out/test/classes/
/Introduction/String templates/out/
/Introduction/String templates/out/production/classes/
/Introduction/String templates/out/test/classes/
/Introduction/Triple-quoted strings/out/
/Introduction/Triple-quoted strings/out/production/classes/
/Introduction/Triple-quoted strings/out/test/classes/
/Properties/Delegates examples/out/
/Properties/Delegates examples/out/production/classes/
/Properties/Delegates examples/out/test/classes/
/Properties/Delegates how it works/out/
/Properties/Delegates how it works/out/production/classes/
/Properties/Delegates how it works/out/test/classes/
/Properties/Lazy property/out/
/Properties/Lazy property/out/production/classes/
/Properties/Lazy property/out/test/classes/
/Properties/Properties/out/
/Properties/Properties/out/production/classes/
/Properties/Properties/out/test/classes/
/util/build/